* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: #3a2b69;
    // color: #fff;
    }

.center {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.containerApp {
    background-color: #fff;
    color:#3a2b69;
}

.red {
    color: rgb(199, 54, 54);
}

.rocket{
    background-image: url('https://i.ytimg.com/vi/bM7BUcwpWJs/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 80vh;
    padding: 20px;
    color: #F8EBFF;
}

.error {
    color: #CB5270;
}

.singup {
    color: #CB5270;  
}

.for-rules-class {
    font-weight: bold;
}