* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    // background-color: #4cafd0;
    background-color: #c2dde6;
    color: #e6e9f0;
    }

.center {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.containerApp {
    background-color: #e6e9f0;
    color:#000;
}

.red {
    color: rgb(187, 82, 82);
}

.rocket {
    color: #000;
}

.error {
    margin: 5px 5px;
    color: rgb(236, 72, 72);
}

.for-rules-class {
    font-weight: bold;
}
